.dropdown {
	position: absolute;
	top: 3.3em;
	left: auto;
	bottom: auto;
	
	z-index: 9;
	
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	border: 1px solid #8888;
	border-radius: 1em;
	padding-left: 0.3em;
	padding-right: 0.3em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	
	font-size: 125%;
	
	background-color: #0007;
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
}

.dropdown-item {
	display: block;
	padding-left: 1.94em;
	padding-right: 0.5em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	
	color: #ccc;
}

.dropdown > :not(:first-child) {
	margin-top: 0.25em;
}
.dropdown > hr {
	margin: 0;
	margin-left: 1.66em;
	margin-right: 0.5em;
	border: none;
	border-bottom: 1px solid;
	color: #8888;
}

.dropdown-button {
	border-radius: 1em;
	padding-left: 0.45em;
	padding-right: 0.5em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	
	display: flex;
	align-items: first baseline;
	box-sizing: border-box;
	
	color: inherit;
	text-decoration: inherit;
}
.dropdown-button:hover {
	background: #fff2;
	color: #fff;
}

.dropdown-button.destructive:hover {
	background: #ff2a2a60;
	color: #eee;
}

.dropdown-button > .symbol {
	margin: 0em;
	margin-right: 0.5em;
	box-sizing: border-box;
	
	width: 1.3em;
	height: 1.3em;
	font-size: 83%;
	
	align-items: safe center;
	text-align: center;
}
