#content {
	display: grid;
	
	/* 2x7em columns at 20em page width, 2x9.5em at 25em */
	grid-template-columns: repeat(auto-fill, clamp(7em, calc(50vw - 3em), 9.5em));
	gap: 1em;
}

@media screen and (width >= 25rem) {
	#content {
		/* 2x9.5em columns at 25em page width, 3x9.5em at 36.5em, 5x12em at 69em */
		grid-template-columns: repeat(auto-fill, clamp(9.5em, calc(7.69vw + 6.69em), 12em));
	}
}

#search-info {
	border-radius: 1em;
	border: 1px solid #8888;
	margin-bottom: 1em;
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	
	width: 100%;
	box-sizing: border-box;
	
	font-size: 110%;
	display: flex;
	align-items: center;
}
#search-info:has(> .error) {
	background-color: #e228;
}

#search-info > * {
	padding-left: 0.35em;
	padding-right: 0.25em;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
}

#clear-search {
	margin-left: auto;
	border-radius: 2em;
	padding: 0.1em;
	
	width: 1.53em;
	height: 1.53em;
	font-size: 85%;
	align-content: center;
	text-align: center;
	
	color: inherit;
	text-decoration: none;
}
#clear-search:hover {
	background: #fff2;
}

.word-card {
	border: 0.5px solid #8888;
	border-radius: 1em;
	overflow: hidden;
	
	padding-top: 0.4em;
	padding-left: 0.7em;
	padding-right: 0.6em;
	padding-bottom: 0.5em;
	
	position: relative;
}

.word-card > a {
	text-decoration: none;
	color: inherit;
}

.word-card > .buttons {
	position: absolute;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-right: 0.8em;
	padding-left: 0.8em;
	box-sizing: border-box;
	
	display: grid;
	grid-template-columns: repeat(auto-fit, 1.7em);
	gap: 0.2em;
	justify-content: end;
	
	width: 100%;
}

.word-card-button {
	padding: 0.2em;
	border-radius: 0.3em;
	background: #222;
	color: #aaa;
	
	width: 1.3em;
	height: 1.3em;
	text-align: center;
	align-content: center;
	
	cursor: pointer;
	text-decoration: none;
}
.word-card-button:hover {
	color: inherit;
}
.word-card-button:active {
	color: inherit;
	background: #555;
}

.word-card-button.destructive:hover {
	color: #f44;
}
.word-card-button.destructive:hover {
	color: #f44;
}

.word-card .title {
	font-weight: bolder;
	overflow-wrap: break-word;
}
.word-card .title .type {
	opacity: 80%;
	font-weight: normal;
	font-size: 80%;
	overflow-wrap: break-word;
}

.word-card .other-info {
	margin-top: 0.3em;
	font-size: 80%;
}

.word-card .translation, .word-card .reference {
	font-weight: bolder;
	overflow-wrap: break-word;
}

.word-card .comment {
	font-weight: normal;
	opacity: 80%;
	
	overflow-wrap: break-word;
}

.word-card .translation:not(:last-child)::after, .word-card .reference:not(:last-child)::after {
	content: ", "
	font-weight: normal;
}
