#content {
	margin: 1em auto;
	
	min-width: clamp(20em, 100%, 30em);
	max-width: 50em;
	width: 60%;
	box-sizing: border-box;
}

.search-info {
	border-radius: 1em;
	border: 1px solid #8888;
	margin-bottom: 1em;
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	
	width: 100%;
	box-sizing: border-box;
	
	font-size: 110%;
	display: flex;
	align-items: center;
}
.search-info:has(> .error) {
	background-color: #e228;
}

.search-info > * {
	padding-left: 0.35em;
	padding-right: 0.25em;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
}

.search-info > div.symbol {
	width: 1em;
	margin-right: 0.2em;
}

.search-info > a {
	margin-left: auto;
	border-radius: 2em;
	padding: 0.1em;
	
	width: 1.53em;
	height: 1.53em;
	font-size: 85%;
	align-content: center;
	text-align: center;
	
	color: inherit;
	text-decoration: none;
}
.search-info > a:hover {
	background: #fff2;
}

.word-card {
	margin-top: 1em;
	margin-bottom: 1em;
	border: 0.5px solid #8888;
	border-radius: 1em;
	overflow: hidden;
	
	padding-top: 0.5em;
	padding-left: 0.7em;
	padding-right: 0.6em;
	padding-bottom: 0.5em;
	
	position: relative;
}

.word-card .title {
	font-weight: bolder;
	overflow-wrap: break-word;
	display: flex;
}

.word-card a:not(.small-button) {
	text-decoration: none;
	color: inherit;
}
.word-card a:not(.small-button):hover {
	text-decoration: underline;
}

.word-card .title .type {
	opacity: 80%;
	font-weight: normal;
	font-size: 80%;
	overflow-wrap: break-word;
}

.word-card .buttons {
	margin-left: auto;
	box-sizing: content-box;
	
	display: grid;
	grid-template-columns: repeat(2, 1.7em);
	gap: 0.2em;
	justify-content: end;
	
	min-width: 3.6em;
}

.word-card .other-info {
	margin-top: 0.3em;
	font-size: 80%;
}
.word-card .other-info:not(:last-child) {
	margin-bottom: 0.5em;
}

.word-card :is(.translation,.reference,.back-reference) {
	margin-top: 0.2em;
	padding-left: 0.5em;
	
	font-weight: bolder;
	overflow-wrap: break-word;
}
.word-card .translation::before {
	content: "-";
	font-weight: normal;
}
.word-card .reference::before {
	content: "→";
	font-weight: normal;
}
.word-card .back-reference::before {
	content: "←";
	font-weight: normal;
}

.word-card .comment {
	font-weight: normal;
	opacity: 80%;
	
	overflow-wrap: break-word;
}
