body {
	position: relative;
	overflow: hidden;
}

#viewport {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	
	width: 100%;
	height: 100%;
	
	/* 2.4em left, right, top to match the header's rounded border
	 + 2em bottom
	 + 4.2em top */
	padding-left: 2.4em;
	padding-right: 2.4em;
	padding-top: 5.6em;
	padding-bottom: 2em;
	box-sizing: border-box;
	
	overflow: auto;
	overscroll-behavior: contain;
	
	clip-path: rect(1em 100% 100% 0);
	-webkit-clip-path: rect(1em 100% 100% 0);
}

header {
	position: fixed;
	top: 0.7142857143em;
	
	margin-left: 0.7142857143em;
	margin-right: 0.7142857143em;
	
	width: -webkit-fill-available;
	width: stretch;
	
	z-index: 9;
	
	border-radius: 2em;
	padding-left: 0.25em;
	padding-right: 0.25em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	
	font-size: 140%;
	
	display: flex;
	align-items: center;
}

#backdrop {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	
	z-index: -1; /* 8 */
	
	border: 1px solid #8888;
	border-radius: 2em;
	
	background-color: #0005;
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
}

header > .header-item {
	border-radius: 2em;
	
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	padding-left: 0.8em;
	padding-right: 0.8em;
	
	vertical-align: middle;
	
	color: inherit;
	background: none;
	border: none;
	font-size: inherit;
	font-weight: bolder;
	text-decoration: none;
}
header > .header-item:hover {
	/* background if it's being hovered */
	background: #fff2;
}
header > .header-item.toggle:has(> input:checked) {
	/* background if it's active */
	background: #fff2;
}

header > .header-item.symbol {
	width: 1.3em;
	height: 1.3em;
	text-align: center;
	align-content: center;
	
	font-size: 125%;
	font-weight: inherit;
	
	padding: 0.056em; /* experimentally determined */
}

#search-button {
	margin-left: auto;
	margin-right: 0em;
	
	font-size: 110%;
	width: 1.477em;
	height: 1.477em;
}

#new-word-button {
	margin-left: 0.5em;
	margin-right: 0em;
}

#login {
	margin-left: 0.5em;
	margin-right: 0.1em;
}

#login:has(> input:checked) > div {
	position: fixed;
	
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
}
#login-dropdown {
	right: 0.8em;
}
header:has(> #login > input:not(:checked)) ~ #login-dropdown {
	display: none;
}

#search-button:has(> input:checked) > div {
	position: fixed;
	z-index: 0;
	
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	
	background-color: #0006;
	-webkit-backdrop-filter: blur(4px);
	backdrop-filter: blur(4px);
}

header:has(> #search-button > input:not(:checked)) ~ #search-container {
	display: none;
}
